<!DOCTYPE html>
<html>
<body>

<h2>JavaScript Alert</h2>



<script>
if(confirm("Your Request sent Successfully!!We will contact you as soon as possible through email.")) {
    window.location.href = "http://localhost:5000/volunteer.html"
}
</script>

</body>
</html>
