<!DOCTYPE html>
<html>
<body>

<h2>JavaScript Alert</h2>



<script>
if(confirm("New Staff Added Successfully!!")) {
    window.location.href = "http://localhost:5000/Admin/Add_Staff.html"
}
</script>

</body>
</html>
