<!DOCTYPE html>
<html>
<body>

<h2>JavaScript Alert</h2>



<script>
if(confirm("Wrong Username Or Password!!!!!.")) {
    window.location.href = "http://localhost:5000/admin/Staff_login.html"
}
</script>

</body>
</html>
